*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  letter-spacing: 0.03em;
}

body {
  min-height: 100vh;
  line-height: 2;
  font-family: 'Barlow', sans-serif;
  font-weight: 900;
  font-size: 13px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #333;
  color: #fff;
}
